## Sequence Types -- [lists](sequence_types.ipynb#lists), [tuple](#tuples) & [range](#range)
>  There are three basic sequence types: lists, tuples, and range objects.
  ---

## Lists
>   Lists are mutable sequences,typically used to store same kind of items.
>   List items are ordered, changeable, and allow duplicate values. List items are indexed, the first item has index [0], the second item has index [1] etc.

Lists may be constructed in several ways
-   to denote empty list:   []
-   seperate items with commsa: [a], [a, b, c]
-   list comprehension: [x for x ----]
-   type constructure: list()

In [1]:
# creating an empty list
empty_list = []

print(empty_list)
print(type(empty_list))

[]
<class 'list'>

In [4]:
# creating a list with single item
single_item_list = ['a']
multiple_item_list = ['a', 'b', 'c']

print(f'single item list: {single_item_list}')
print("multiple item list:", multiple_item_list)

single item list: ['a']
multiple item list: ['a', 'b', 'c']

In [5]:
# using a list comprehension
original_numbers = [1, 2, 3, 4, 5, 6]

# list with squared values
squared_numbers = [x**2 for x in original_numbers]

print(f'Original Numbers: {original_numbers}')
print(f'Squared Numbers: {squared_numbers}')

Original Numbers: [1, 2, 3, 4, 5, 6]
Squared Numbers: [1, 4, 9, 16, 25, 36]

In [1]:
# creating a lsit using an iterable (e.g tuple)
tuple_example = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# using the list() constructor to create list form tuple
list_from_tuple = list(tuple_example)

print(f'tuple example: {tuple_example}')
print(f'list form tuple: {list_from_tuple}')

tuple example: (1, 2, 3, 4, 5, 6, 7, 8, 9)
list form tuple: [1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Lists in Python support various operations for manipulation and retrieval of elements. Here are some common list operations:

In [2]:
#Concatenation (+):
list1 = [1, 2, 3]
list2 = [4, 5, 6]
concatenated_list = list1 + list2

print(concatenated_list)

[1, 2, 3, 4, 5, 6]

In [2]:
# Repetition (*):
original_list = [1, 2, 3]
repeated_list = original_list * 3

print(repeated_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [3]:
# Indexing ([]):
my_list = [10, 20, 30, 40, 50]
value = my_list[2]  # Retrieves the element at index 2 (30)

print(value)

30

In [4]:
# Slicing ([start:stop:step]):
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:4]  # Returns [2, 3, 4]

In [ ]:
# Length (len()):
my_list = [1, 2, 3, 4, 5]
length = len(my_list)

In [ ]:
# Adding an Element (append()):
my_list = [1, 2, 3]
my_list.append(4)

In [ ]:
# Inserting an Element (insert()):
my_list = [1, 2, 3]
my_list.insert(1, 10)  # Inserts 10 at index 1

In [5]:
# Removing an Element (remove()):
my_list = [1, 23, 3]
my_list.remove(23)  # Removes the element with value 2

print(my_list)

[1, 3]

In [ ]:
# Popping an Element (pop()):
my_list = [1, 2, 3]
popped_value = my_list.pop(1)  # Removes and returns the element at index 1

In [ ]:
# Checking Membership (in):
my_list = [1, 2, 3]
is_present = 2 in my_list  # Returns True

In [ ]:
# Counting Occurrences (count()):
my_list = [1, 2, 2, 3, 4, 2]
occurrences = my_list.count(2)  # Returns the number of occurrences of 2

In [ ]:
# Finding Index (index()):
my_list = [10, 20, 30, 40, 50]
index = my_list.index(30)  # Returns the index of the first occurrence of 30

In [ ]:
# Sorting (sort()):
my_list = [3, 1, 4, 1, 5, 9, 2]
my_list.sort()  # Sorts the list in ascending order

In [ ]:
# Reversing (reverse()):
my_list = [1, 2, 3, 4, 5]
my_list.reverse()  # Reverses the order of elements in the list

In [ ]:
# Clearing (clear()):
my_list = [1, 2, 3]
my_list.clear()  # Removes all elements, making the list empty

## Tuples

>   Tuples are immutable sequences, typically used to store collections of heterogeneous data. i.e Tuples are used to store multiple items in a single variable. A tuple is a collection which is ordered and unchangeable.

Tuples may be constructed in a number of ways:
-   Using a pair of parentheses to denote the empty tuple: ()
-   Using a trailing comma for a singleton tuple: a, or (a,)
-   Separating items with commas: a, b, c or (a, b, c)
-   Using the tuple() built-in: tuple() or tuple(iterable)

In [6]:
# Creating an empty tuple using parentheses
empty_tuple = ()

# Printing the empty tuple
print("Empty Tuple:", empty_tuple)

Empty Tuple: ()

In [7]:
# Creating a singleton tuple using a trailing comma
singleton_tuple1 = 42,
singleton_tuple2 = (3.14,)

# Printing the singleton tuples
print("Singleton Tuple 1:", singleton_tuple1)
print("Singleton Tuple 2:", singleton_tuple2)

Singleton Tuple 1: (42,)
Singleton Tuple 2: (3.14,)

In [8]:
# Creating a tuple by separating items with commas
tuple1 = 10, 20, 30

# Creating a tuple using parentheses with commas
tuple2 = (40, 50, 60)

# Printing the tuples
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)

Tuple 1: (10, 20, 30)
Tuple 2: (40, 50, 60)

In [9]:
# Creating an empty tuple using tuple()
empty_tuple = tuple()

# Creating a tuple from a list using tuple()
my_list = [4, 5, 6]
my_tuple = tuple(my_list)

# Printing the tuples
print("Empty Tuple:", empty_tuple)
print("Tuple from List", my_tuple)

Empty Tuple: ()
Tuple from List (4, 5, 6)

>   **Note** that it is actually the comma which makes a tuple, not the parentheses. The parentheses are optional, except in the empty tuple case, or when they are needed to avoid syntactic ambiguity.

## Range

<class 'str'>

In [2]:
a = 1,00,000
print(1,00,000)

1 0 0

In [2]:
#
student = {
    "name"  : "Wasif Nawaz",
    "age"   : 23,
    "grade" : 100
}

# Iterate through dict to display 'Keys'
print("The key's of the dict 'Student' are:") 
for key in student.key():
    print(key)

# Iterate over dict to display 'Values'
print("The values in the dict are:")
for key in student:
    print(student[key])

The key's of the dict 'Student' are:

AttributeError: 'dict' object has no attribute 'key'